#######
# prj #
#######

# Ignoring everything
/prj/**
# taking all folders back
!/prj/**/
# Adding synth and impl relevant files
!/prj/*.tcl
!/prj/*.sh
!/prj/**/synth_?/*.rpt
!/prj/**/impl_?/*.rpt
!/prj/**/impl_?/*.bin
!/prj/**/impl_?/*.ltx
!/prj/**/*.xpr


#######
# src #
#######

# Ignoring everything
/src/**
# taking all folders back
!/src/**/
# Adding impl_1 relevant files
!/src/bd/**/*.bd
!/src/rtl/**/*.v
!/src/rtl/**/*.sv
!/src/rtl/**/*.vhd
!/src/rtl/**/*.vhdl
!/src/xdc/**/*.xdc
!/src/xdc/**/*.sdc
!/src/tcl/**/*.tcl
!/src/ip/*/*.xci
!/src/ip/*/*.xml
!/src/py/*.py

#######
# sim #
#######

# Ignoring everything
/sim/**
# taking all folders back
!/sim/**/
# taking relevant files back
!/sim/**/*.v
!/sim/**/*.vhd
!/sim/**/*.do
!/sim/**/*.py
!/sim/**/Makefile


#######
# syn #
#######

# Ignoring everything
/syn/**
# taking all folders back
!/syn/**/
/syn/**/*#*
# Adding impl_1 relevant files
!/syn/**/par_1/*.txt
!/syn/**/run_options.txt
!/syn/**/par_1/*.rpt

#######
# prc #
#######

# Ignoring everything
/prc/**
# taking all folders back
!/prc/**/


# repository-wise excludes
/**/*[#]*

